<!-- Link Gitalk 的支持文件 -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{ site.oauth.client_id }}',
        clientSecret: '{{ site.oauth.client_secret }}',
        repo: '{{ site.authors.ahcming.repo }}',
        owner: '{{ site.authors.ahcming.name }}',
        admin: ['{{ site.authors.ahcming.name }}'],
        id: decodeURI(window.location.pathname),
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
