---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%Y-%m-%d %A" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

<section class="tag-list">
<ul class="list">
    {% assign pages_list = site.tags[page.subject] %}
    {% for post in pages_list %}
        {% if post.title != null %}
            {% if group == null or group == post.group %}
                <li class="item">
                    <a class="url" href="{{ site.url }}{{ post.url }}">
                        <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%Y/%m/%d" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
</ul>
</section>
